<div class="shade">
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="copyleft">&#169;</span> <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution Share-alike</a>
      </div>
      <div class="col">
        &#169; {{'now' | date: '%Y' }} <a href="https://calyxinstitute.org">Calyx Institute</a>
      </div>
      <div class="col">
        <a href="https://members.calyxinstitute.org/donate">{{ site.data.strings.donate }}</a>
      </div>
      <div class="col">
        <a href="https://calyxinstitute.org/about">{{ site.data.strings.aboutUs }}</a>
      </div>
    </div>
  </div>
</div>