<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header>
      {% include masthead.html %}
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          {% include side_navigation.html %}
          <div class="col-sm-9 ml-sm-auto col-md-9 pt-3">
            {{ content | auto_link | wiki_link | toc }}
            {% include posts.html %}
          </div>
        </div>
      </div>
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>